@inherits LayoutComponentBase

<div>
    <header class="content px-3">
        <Navbar />
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
