<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <NavLink class="navbar-brand" href="/">Tournament manager</NavLink>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="organizers">Organizers</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="managers">Managers</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="players">Players</NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {

}
